/*

This file contains the styles specifically for the

signup form to keep the main stylesheet clean.
*/

.cta-form {
margin-top: 2.4rem;
display: grid;
grid-template-columns: 1fr 1fr;
column-gap: 3.2rem;
row-gap: 2.4rem;
}

.cta-form div {
display: flex;
flex-direction: column;
}

.cta-form label {
display: block;
font-size: 1.6rem;
font-weight: 500;
margin-bottom: 1.2rem;
}

.cta-form input,
.cta-form select {
width: 100%;
padding: 1.2rem;
font-family: inherit;
color: inherit;
border: none;
background-color: #fdf2e9;
border-radius: 9px;
box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.cta-form input::placeholder {
color: #aaa;
}

.cta-form button {
background-color: #45260a;
color: #fdf2e9;
align-self: end;
padding: 1.2rem;
}

.cta-form button:hover {
background-color: #fff;
color: #555;
}

.cta *:focus {
outline: none;
box-shadow: 0 0 0 0.8rem rgb(253, 242, 233, 0.5);
}